html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    font: sans-serif;

    background-color: white;

    h1 {
        padding: 1em;
        margin: 0;
    }
}

.ccp {
    flex-grow: 1;
    background-color: gray;
    iframe {
        border: none;
    }
}