html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e0f2f1;

    .card {
        max-width: 30vw;
    }
}
